.timerConfig {
    width: 25px;
    height: 25px;
    background: none;
    position: absolute;
    right: 10px;
    top: 10px;
}

.timerConfig svg {
    width: 100%;
    height: 100%;
}

.containerTimer {
    width: 400px;
    height: 400px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    background: var(--fundoSecundario);
    border-radius: 10px;
    outline: 5px solid var(--roxo);
}

.containerTimer .timerIcon {
    width: 180px;
    height: 180px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    outline: 5px solid var(--roxo);
    background: var(--branco);
}

.timerIcon img {
    width: 70%;
    height: 70%;
}

.progress-bg {
    fill: none;
    stroke: var(--background-color);
    stroke-width: 10;
}

.progress-bar {
    fill: none;
    stroke: var(--progress-color);
    stroke-width: 10;
    stroke-dasharray: 502;  /* Circunferência do círculo (2 * π * 80) */
    stroke-dashoffset: 502; /* Começa com o círculo "vazio" */
    transition: stroke-dashoffset 0.3s linear;
}
.containerTimer .timerTag {
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    background: var(--roxo);
    padding: 5px 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.tagTitle {
    font-family: var(--font);
    font-weight: bolder;
    color: var(--branco);
}

.tagIcon {
    width: 15px;
    height: 15px;
}

.containerTimer .timerClock {
    font-family: var(--font);
    font-size: 3rem;
    font-weight: bolder;
    color: var(--branco);
}

.containerTimer .timerButton {
    width: fit-content;
    height: fit-content;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bolder;
    color: var(--branco);
    background: var(--roxo);
    text-transform: uppercase;
    box-shadow: 0px 5px 0px var(--roxoEscuro);
    outline: 1px solid var(--roxoEscuro);
    text-decoration: none;
    font-family: var(--font);
}

.timerButton:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 0px var(--roxoEscuro);
}

/* CONFIG MODAL */
.configForm {
    width: fit-content;
    height: fit-content;
}

.containerConfig {
    width: 600px;
    height: 400px;
    /* padding: 5px 0px; */
    outline: 5px solid var(--roxo);
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #212326;
}

.configClose {
    width: 25px;
    height: 25px;
    background: none;
    position: absolute;
    right: 10px;
    top: 10px;
}

.configClose svg {
    width: 100%;
    height: 100%;
}

.containerItem {
    width: 100%;
    height: 25%;
    /* height: fit-content; */
    border-top: 5px solid var(--roxo);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

#iconContainer {
    border-top: none !important;
    height: 35%;
}

#timerContainer {
    border-bottom: 5px solid var(--roxo);
}

.containerButtom {
    width: 100%;
    height: fit-content;
    padding: 5px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 15px;
    padding: 5px;
}

.containerButtom button,
.btnCancel {
    width: fit-content;
    height: fit-content;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bolder;
    color: var(--branco);
    background: var(--roxo);
    text-transform: uppercase;
    box-shadow: 0px 5px 0px var(--roxoEscuro);
    outline: 1px solid var(--roxoEscuro);
    text-decoration: none;
    font-family: var(--font);
}

.containerButtom .btnCancel {
    background: red !important;
}

input {
    display: none;
}

input:checked + .item {
    width: 100px !important;
    height: 100px !important;
    background: var(--fundoSecundario) !important;
    outline: 5px solid var(--roxo) !important;
    transition: 0.3s;
}

.item {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: var(--branco);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.focus svg path {
    fill: var(--branco);
}

.item svg {
    width: 60%;
    height: 60%;
}

.tag,
.timer {
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    background: var(--branco);
    padding: 5px 10px;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: var(--font);
    font-weight: bolder;
}

.rdTag:checked + .tag {
    background: var(--fundoSecundario);
    color: var(--branco);
}

.rdTimer:checked + .timer {
    background: var(--fundoSecundario);
    color: var(--branco);
}
